[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
uvicorn = "*"
passlib = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
